<div class="btn-container">
  <button (click)="go_back()">回首頁</button>
</div>

<div class="container">
  <div *ngFor="let question of questionData; let qIndex = index" class="question-block">
    <h2>{{ question.questionTitle.questionName }}</h2>
    <p>{{ question.questionTitle.questionText }}</p>

    <div *ngFor="let topic of question.questionTopic; let tIndex = index" class="topic-block">
      <h4>{{ topic.questionName }}</h4>
      <div *ngIf="(topic.questionAnswerType === 'M' || topic.questionAnswerType === 'S') && topic.question_click" class="chart-container">
        <canvas id="chart-{{qIndex}}-{{tIndex}}"></canvas>
      </div>
    </div>

  </div>
</div>
